# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=conda_forge
_openmp_mutex=4.5=2_gnu
absl-py=2.1.0=pypi_0
asttokens=2.4.1=pyhd8ed1ab_0
blinker=1.8.2=pypi_0
brax=0.10.5=pypi_0
bzip2=1.0.8=h5eee18b_6
ca-certificates=2024.8.30=hbcca054_0
certifi=2024.8.30=pypi_0
charset-normalizer=3.3.2=pypi_0
chex=0.1.86=pypi_0
click=8.1.7=pypi_0
cloudpickle=3.0.0=pypi_0
cma=4.0.0=pypi_0
comm=0.2.2=pyhd8ed1ab_0
contextlib2=21.6.0=pypi_0
contourpy=1.3.0=pypi_0
cycler=0.12.1=pypi_0
cython=3.0.11=pypi_0
debugpy=1.8.5=py311hfdbb021_1
decorator=5.1.1=pyhd8ed1ab_0
dm-control=1.0.22=pypi_0
dm-env=1.6=pypi_0
dm-tree=0.1.8=pypi_0
etils=1.9.4=pypi_0
exceptiongroup=1.2.2=pyhd8ed1ab_0
executing=2.1.0=pyhd8ed1ab_0
flask=3.0.3=pypi_0
flask-cors=5.0.0=pypi_0
flax=0.9.0=pypi_0
fonttools=4.53.1=pypi_0
fsspec=2024.9.0=pypi_0
glfw=2.7.0=pypi_0
greenlet=3.1.0=pypi_0
grpcio=1.66.1=pypi_0
gym=0.26.2=pypi_0
gym-notices=0.0.8=pypi_0
humanize=4.10.0=pypi_0
idna=3.10=pypi_0
imageio=2.35.1=pypi_0
importlib-metadata=8.5.0=pyha770c72_0
importlib-resources=6.4.5=pypi_0
ipykernel=6.29.5=pyh3099207_0
ipython=8.27.0=pyh707e725_0
itsdangerous=2.2.0=pypi_0
jax=0.4.33=pypi_0
jax-cuda12-pjrt=0.4.33=pypi_0
jax-cuda12-plugin=0.4.33=pypi_0
jaxlib=0.4.33=pypi_0
jaxopt=0.8.3=pypi_0
jedi=0.19.1=pyhd8ed1ab_0
jinja2=3.1.4=pypi_0
jupyter_client=8.6.3=pyhd8ed1ab_0
jupyter_core=5.7.2=py311h38be061_0
keyutils=1.6.1=h166bdaf_0
kiwisolver=1.4.7=pypi_0
krb5=1.21.3=h659f571_0
labmaze=1.0.6=pypi_0
ld_impl_linux-64=2.38=h1181459_1
libedit=3.1.20191231=he28a2e2_2
libffi=3.4.4=h6a678d5_1
libgcc=14.1.0=h77fa898_1
libgcc-ng=14.1.0=h69a702a_1
libgomp=14.1.0=h77fa898_1
libsodium=1.0.20=h4ab18f5_0
libstdcxx=14.1.0=hc0a3c3a_1
libstdcxx-ng=14.1.0=h4852527_1
libuuid=1.41.5=h5eee18b_0
lxml=5.3.0=pypi_0
markdown-it-py=3.0.0=pypi_0
markupsafe=2.1.5=pypi_0
matplotlib=3.9.2=pypi_0
matplotlib-inline=0.1.7=pyhd8ed1ab_0
mdurl=0.1.2=pypi_0
ml-collections=0.1.1=pypi_0
ml-dtypes=0.5.0=pypi_0
msgpack=1.1.0=pypi_0
mujoco=3.2.3=pypi_0
mujoco-mjx=3.2.3=pypi_0
mujoco-python-viewer=0.1.4=pypi_0
multineat=0.12=pypi_0
multipledispatch=1.0.0=pypi_0
ncurses=6.4=h6a678d5_0
nest-asyncio=1.6.0=pyhd8ed1ab_0
noise=1.2.2=pypi_0
numpy=1.26.4=pypi_0
nvidia-cublas-cu12=12.6.1.4=pypi_0
nvidia-cuda-cupti-cu12=12.6.68=pypi_0
nvidia-cuda-nvcc-cu12=12.6.68=pypi_0
nvidia-cuda-runtime-cu12=12.6.68=pypi_0
nvidia-cudnn-cu12=9.4.0.58=pypi_0
nvidia-cufft-cu12=11.2.6.59=pypi_0
nvidia-cusolver-cu12=11.6.4.69=pypi_0
nvidia-cusparse-cu12=12.5.3.3=pypi_0
nvidia-nccl-cu12=2.23.4=pypi_0
nvidia-nvjitlink-cu12=12.6.68=pypi_0
opencv-contrib-python=4.10.0.84=pypi_0
opencv-python=4.10.0.84=pypi_0
openssl=3.3.2=hb9d3cd8_0
opt-einsum=3.3.0=pypi_0
optax=0.2.3=pypi_0
orbax-checkpoint=0.6.4=pypi_0
packaging=24.1=pyhd8ed1ab_0
pandas=2.2.2=pypi_0
parso=0.8.4=pyhd8ed1ab_0
pexpect=4.9.0=pyhd8ed1ab_0
pickleshare=0.7.5=py_1003
pillow=10.4.0=pypi_0
pip=24.2=py311h06a4308_0
platformdirs=4.3.6=pyhd8ed1ab_0
prompt-toolkit=3.0.47=pyha770c72_0
protobuf=5.28.1=pypi_0
psutil=6.0.0=py311h9ecbd09_1
ptyprocess=0.7.0=pyhd3deb0d_0
pure_eval=0.2.3=pyhd8ed1ab_0
pycapnp=2.0.0=pypi_0
pygments=2.18.0=pyhd8ed1ab_0
pyopengl=3.1.7=pypi_0
pyparsing=3.1.4=pypi_0
pyrr=0.10.3=pypi_0
python=3.11.9=h955ad1f_0
python-dateutil=2.9.0.post0=pypi_0
python_abi=3.11=2_cp311
pytinyrenderer=0.0.14=pypi_0
pytz=2024.2=pypi_0
pyyaml=6.0.2=pypi_0
pyzmq=26.2.0=py311h7deb3e3_2
readline=8.2=h5eee18b_0
requests=2.32.3=pypi_0
revolve2-experimentation=1.2.2=pypi_0
revolve2-modular-robot=1.2.2=pypi_0
revolve2-modular-robot-physical=1.2.2=pypi_0
revolve2-modular-robot-simulation=1.2.2=pypi_0
revolve2-mujoco-simulator=1.2.2=pypi_0
revolve2-simulation=1.2.2=pypi_0
revolve2-standards=1.2.2=pypi_0
rich=13.8.1=pypi_0
scipy=1.14.1=pypi_0
setuptools=70.3.0=pypi_0
six=1.16.0=pyh6c4a22f_0
sqlalchemy=2.0.35=pypi_0
sqlite=3.45.3=h5eee18b_0
stack_data=0.6.2=pyhd8ed1ab_0
tensorboardx=2.6.2.2=pypi_0
tensorstore=0.1.65=pypi_0
tk=8.6.14=h39e8969_0
toolz=0.12.1=pypi_0
tornado=6.4.1=py311h9ecbd09_1
tqdm=4.66.5=pypi_0
traitlets=5.14.3=pyhd8ed1ab_0
trimesh=4.4.9=pypi_0
typed-argparse=0.3.1=pypi_0
typing_extensions=4.12.2=pyha770c72_0
tzdata=2024.1=pypi_0
urllib3=2.2.3=pypi_0
wcwidth=0.2.13=pyhd8ed1ab_0
werkzeug=3.0.4=pypi_0
wheel=0.44.0=py311h06a4308_0
xz=5.4.6=h5eee18b_1
zeromq=4.3.5=ha4adb4c_5
zipp=3.20.2=pyhd8ed1ab_0
zlib=1.2.13=h5eee18b_1
